# Entorno de ejecución de la aplicación (development, production, etc.)
NODE_ENV=
# Puerto en el que correrá la API de Express
PORT=3000
# URL de conexión a la base de datos PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/NES_Eventos?schema=public"
# URL del frontend, Vite
FRONTEND_URL=http://localhost:5173
# Clave secreta para la creación de tokens JWT
JWT_SECRET=your_secret_key_here
# Argon2 configuration
ARGON2_TYPE=argon2id
ARGON2_MEMORY_COST=15630
ARGON2_TIME_COST=3
ARGON2_PARALLELISM=4